@page "/404"
@namespace Reader.Shared.BaseUI

@using Reader.Shared.BaseUI.Buttons

<PageTitle>404 Not Found</PageTitle>

<div class="w-screen flex justify-center items-center" style="min-height: 80vh;">
    <div class="m-4 flex flex-col items-center justify-center">
        <h1 class="text-4xl md:text-7xl mb-3 md:mb-6">404</h1>
        <p>The requested page could not be found.</p>
        <PrimaryLinkBtn t="Return to homepage" link="/" />
    </div>
</div>


