@page "/submit-form"
@namespace Reader.Pages


<form method="post" onsubmit="SubmitForm">
    <label for="parisInput">Who was in Paris?</label>
    <input type="text" name="paris" id="parisInput" @bind="@parisAnswer">
    <button type="submit">Submit answer</button>
</form>

@if (hasSubmitted) {
    <div class="flex justify-center">
        @response
    </div>
}

@code {
    public bool hasSubmitted = false;
    public string response = "Your answer is ";
    public string parisAnswer { get; set; } = default!;
    private void SubmitForm()
    {
        hasSubmitted = true;
        response += parisAnswer.StartsWith("n") ? "correct" : "wrong";
        response += "! " + $"(Answer: {parisAnswer})";
    }
}