@page "/"
@namespace Reader.Pages

@using MudBlazor
@using Reader.Shared.Sections
@using Reader.Shared.BaseUI.Buttons

@using Reader.Data.Storage
@inject Constants constants

<PageTitle>Reader</PageTitle>

<FrontPageSection
             imageLoc="/static/img/sample.png" actionText="Visit Github Repo" actionLink="https://github.com/DavideWiest/Reader">
</FrontPageSection>

<div class="flex justify-center">
    <!-- TrustBox widget - Review Collector -->
    <div class="trustpilot-widget" data-locale="en-US" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="662037f7be2d01f676d54276" data-style-height="52px" data-style-width="100%">
        <a href="https://www.trustpilot.com/review/reader.davidewiest.com" target="_blank" rel="noopener">Trustpilot</a>
    </div>
    <!-- End TrustBox widget -->
</div>


@code {
    protected override void OnInitialized()
    {


    }
}

