@namespace Reader.Pages.Legal

@using Reader.Shared.Legal

<PageTitle>Allgemeine Geschäftsbedingungen</PageTitle>





<div id="longdoc" class="mt-24 flex justify-center roboto">
    <div id="longdoc-wrapper" style="max-width: 1000px; padding: 0 2rem;">
        <h1 id="section-header" class="text-3xl text-b600  mt-4">
            Allgemeine Geschäftsbedingungen
        </h1>
        
        <ResponsiblePartyView showTitle=false />

        <h3>Allgemein</h3>

        <h4>Teil 1</h4>

        <p>

        </p>


    </div>
</div>
