@page "/terms-of-service"
@namespace Reader.Pages.Legal

@using Reader.Shared.Legal

<PageTitle>Terms of Service</PageTitle>





<div id="longdoc" class="mt-24 flex justify-center roboto">
    <div id="longdoc-wrapper" style="max-width: 1000px; padding: 0 2rem;">
        <h1 id="section-header" class="text-3xl text-b600 intertight mt-4">
            Terms of Service
        </h1>
        
        <ResponsiblePartyView showTitle=false />

        <h3>General</h3>

        <h4>Part 1</h4>

        <p>

        </p>

    </div>
</div>
