@namespace Reader.Shared.BaseUI.Buttons


<a href='@(!disabled ? link : "")'>
    <PrimaryBtn t=@t disabled=@disabled />
</a>

@code {
    [Parameter]
    public string link { get; set; } = default!;
    [Parameter]
    public string t { get; set; } = "Continue";
    [Parameter]
    public bool disabled { get; set; } = false;
}