@namespace Reader.Shared.Misc


@using MudBlazor
@using Reader.Data.Misc
@using Microsoft.JSInterop
@using Reader.Modules
@inject IJSRuntime JSRuntime

<div>

    @foreach (var announcement in Announcements)
    {
        <AnnouncementComponent Announcement="announcement" Read="ReadAnnouncements.Contains(announcement.Id)" />
    }
</div>


@code {
    public List<Announcement> Announcements { get; set; } = new();
    public List<int> ReadAnnouncements { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Announcements = await AnnouncementsRetriever.GetAnnouncements();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ReadAnnouncements = await JSRuntime.InvokeAsync<List<int>>("getAnnouncementStates");

            StateHasChanged();
        }
    }

}
