@namespace Reader.Pages.Fundamental

@page "/ignorethis"
@using MudBlazor
@using Reader.Shared
@using Reader.Modules
@using Reader.Data.Storage

<h1></h1>

<div>
</div>



@code {

    protected override void OnInitialized()
    {

    }
}