
<div class="w-screen flex justify-center mb-10">
    <div class="mx-8 mb-10" style="width: min(calc(100vw - 4rem), 75rem);">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}