
<div class="w-screen flex justify-center mb-10">
    <div class="max-w-4xl mx-8 mb-10">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}