
<div class="w-screen flex justify-center mb-10">
    <div class="max-w-7xl lg:grid grid-rows-2 lg:grid-rows-1 md:grid-cols-2 gap-2 md:gap-4 mx-8 mb-10">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}