@namespace Reader.Shared.Sections

@using MudBlazor
@using Reader.Shared
@using Reader.Modules
@using Reader.Data.Storage

<div class="p-3 px-5 m-1 bg-colorSecondary rounded-full inline-block">

    @* <MudIcon Icon="@Icon" Class="inline-block"></MudIcon> *@
    <p class="inline-block text-md">
        @Title
    </p>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public string Icon { get; set; } = default!;

    protected override void OnInitialized()
    {

    }
}