@namespace Reader.Shared.Sections

@using MudBlazor
@using Reader.Shared
@using Reader.Modules
@using Reader.Data.Storage

<div class="px-4 py-0.5 m-1 mx-0.5 bg-colorPrimary rounded-full inline-block">

    @* <MudIcon Icon="@Icon" Class="inline-block"></MudIcon> *@
    <p class="inline-block text-sm">
        @Title
    </p>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public string Icon { get; set; } = default!;
}