@namespace Reader.Shared.Sections

@using MudBlazor
@using Reader.Shared.Product
@using Reader.Modules
@using Reader.Data.Product
@using Reader.Data.Storage
@using Reader.Shared.Misc

<div class="w-screen flex justify-center mb-10">
    <div class="max-w-7xl mx-8 mb-20">
        <div class="flex items-center justiy-center flex-col max-w-xl">
            <h1 class="text-5xl text-b600 text-white mb-4 text-center">
                @Constants.ProjectName
            </h1>
            <p class="text-lg mb-4 text-center text-neutral-400">
                A highly customizable speed-reader built as a <span class="text-white">direct alternative to paid apps</span>.
                Speed-reading concepts such as <span class="text-white">chunking, pacing and highlighting</span> are built into this reader. 
                Start by reading the example text to get used to this.
                Use the <span class="text-white">focus mode</span>.
                <span class="text-white">Import your texts</span> from a URL, by uploading a file or from your clipboard. All data is <span class="text-white">stored on your device only</span>.
                Over time, increase reading speed and change settings to fit your needs.
            If you have any <a class="underline underline-offset-2 text-white" href="https://github.com/DavideWiest/Reader/issues/new" target="_blank">problems</a> or <a class="underline underline-offset-2 text-white" target="_blank" href="https://reader.canny.io/feature-requests">feature requests</a>, let us know. Happy reading!
            </p>

            <ShareView />
        </div>
    </div>
</div>
<div class="w-screen flex justify-center mb-10">
    <div class="max-w-4xl mx-4 mb-20">
        <AnnouncementView />
    </div>
</div>
<div class="w-screen flex justify-center mb-10">
    <div class="max-w-4xl mx-4 mb-20">
        <ReadingPlatform />
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public string imageLoc { get; set; } = default!;
    [Parameter]
    public string actionText { get; set; } = default!;
    [Parameter]
    public string actionLink { get; set; } = default!;

}