@namespace Reader.Shared.Sections

@using MudBlazor
@using Reader.Shared.BaseUI.Buttons
@using Reader.Shared.Product
@using Reader.Modules
@using Reader.Data.Product
@using Reader.Data.Storage

<div class="w-screen flex justify-center mb-10">
    <div class="max-w-7xl mx-8 mb-20">
        <div class="flex items-center justiy-center flex-col max-w-xl">
            <h1 class="text-5xl text-b600 text-white mb-4 text-center">
                @Constants.ProjectName
            </h1>
            <p class="text-lg mb-4 text-center text-neutral-400">
                A highly customizable speed-reader built as a <span class="text-white">direct alternative to paid apps</span>.
                Speed-reading concepts such as <span class="text-white">chunking, pacing and highlighting</span> are built into this reader. 
                Start by reading the example text to get used to this kind of reading.
                Use the <span class="text-white">focus mode</span> to read.
                <span class="text-white">Import your texts</span> either from your clipboard or by uploading a file. All data is <span class="text-white">stored on your device only</span>.
                Over time, increase reading speed and change settings to fit your needs.
            If you have any <a class="underline underline-offset-2 text-white" href="https://github.com/DavideWiest/Reader/issues/new" target="_blank">problems</a> or <a class="underline underline-offset-2 text-white" target="_blank" href="https://reader.uncanny.io/feature-requests">feature requests</a>, let us know. Happy reading!
            </p>
            
            <a href="https://github.com/DavideWiest/Reader" target="_blank" class="rounded-lg text-white border border-gray-500 p-2 px-4 bg-black shadow-lg">
                <svg viewBox="0 0 16 16" width="16" height="16" class="octicon octicon-star inline-block" aria-hidden="true">
                    <path style="fill: #ffffff" d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z">
                    </path>
                </svg>
                <p style="font-size: 1rem;" class="inline-block ml-0.5">
                    Star
                </p>
            </a>
        </div>
    </div>
</div>
<div class="w-screen flex justify-center mb-10">
    <div class="max-w-4xl mx-4 mb-20">
        <ReadingPlatform />
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public string imageLoc { get; set; } = default!;
    [Parameter]
    public string actionText { get; set; } = default!;
    [Parameter]
    public string actionLink { get; set; } = default!;

}